Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans-

SQL and NoSQL are two different types of databases.
SQL (Structured Query Language) is a relational database management system (RDBMS) that uses a structured schema to define and organize data in tables. 

NoSQL databases are non-relational and do not use a structured schema to organize data. NoSQL databases allow for more flexible and scalable data storage and retrieval, making them well-suited for applications that handle large volumes of unstructured or semi-structured data, such as social media, IoT devices, and real-time data analysis. NoSQL databases use various models such as key-value, document, graph, and column-family to store data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans-

DDL stands for Data Definition Language, which is a set of SQL commands used to create, modify, and delete the structure of database objects such as tables, indexes, and constraints. The four most common DDL commands are CREATE, DROP, ALTER, and TRUNCATE.

CREATE, DROP, ALTER, and TRUNCATE are all DDL commands used to create, delete, modify, and remove database objects such as tables, indexes, and constraints. These commands are essential for managing the structure and organization of a database.

In [7]:
CREATE TABLE customers (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50)
);
#########################

DROP TABLE customers;



##########################
ALTER TABLE customers
ADD COLUMN phone VARCHAR(20);

###########################

TRUNCATE TABLE customers;

SyntaxError: invalid syntax (2720446469.py, line 1)

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans-

DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate data stored in the database. The three most common DML commands are INSERT, UPDATE, and DELETE

DML commands are used to manipulate data stored in a database. INSERT is used to add new data to a table, UPDATE is used to modify existing data, and DELETE is used to remove data from a table.

In [ ]:
INSERT INTO customers (id, name, email)
VALUES (1, 'John Doe', 'john.doe@example.com');
####################################################
UPDATE customers
SET email = 'johndoe@example.com'
WHERE id = 1;
#################################################
DELETE FROM customers
WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

Ans-

Data Query Language, which is a set of SQL commands used to retrieve and manipulate data stored in a database. The most common DQL command is SELECT, which is used to query data from one or more tables. Q5. Explain Primary Key and Foreign Key.

In [ ]:
SELECT id, name, email
FROM customers
WHERE name LIKE 'J%';

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Ans-
we create a cursor object using the cursor() method of the connection object. The cursor object is used to execute SQL queries and fetch results.
We then use the execute() method of the cursor object to execute a SQL query.

In [8]:
import mysql.connector
# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a query
mycursor.execute("SELECT * FROM customers")

# Fetch the results
myresult = mycursor.fetchall()

# Display the results
for row in myresult:
  print(row)

ModuleNotFoundError: No module named 'mysql'

Q7. Give the order of execution of SQL clauses in an SQL query.