Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [98]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]

series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [99]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [100]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans-

A Pandas DataFrame is a two-dimensional data structure that can store data of different types in columns. It is similar to a spreadsheet or a SQL table. A DataFrame has both rows and columns, and each column can be thought of as a Pandas Series object.

In [103]:
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

A Pandas Series, on the other hand, is a one-dimensional array-like object that can store data of different types. It is similar to a column in a spreadsheet or a SQL table. A Series has only one axis (the index), whereas a DataFrame has two axes (the index and the columns).

In [104]:
data = [25, 30, 27]

s = pd.Series(data)

print(s)

0    25
1    30
2    27
dtype: int64

Q5-What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans-

head() and tail(): These functions allow you to view the first or last n rows of a DataFrame. For example, df.head(10) would show you the first 10 rows of the DataFrame.

describe(): This function provides summary statistics for each column in the DataFrame. For example, df.describe() would show you the count, mean, standard deviation, minimum, and maximum values for each column.

sort_values(): This function allows you to sort the rows of a DataFrame by one or more columns. For example, df.sort_values(by='Age') would sort the rows of the DataFrame by the values in the ‘Age’ column.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans-
In Pandas, both Series and DataFrame are mutable in nature. This means that you can modify their values after they have been created. For example, you can add or remove rows or columns from a DataFrame, or change the values in a Series.

a three-dimensional data structure in Pandas that is similar to a DataFrame but with an additional axis. Panels are not as commonly used as Series and DataFrames, but they are also mutable in nature.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [105]:
name = pd.Series(["Alice", "Bob", "Claire"])
age = pd.Series([25, 30, 27])
gender = pd.Series(["Female", "Male", "Female"])

data = {
    "Name": name,
    "Age": age,
    "Gender": gender
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

we created three Pandas Series objects (name, age, and gender) and then created a dictionary with three keys (Name, Age, and Gender) and their corresponding values. We then passed this dictionary to the pd.DataFrame() function to create a new Pandas DataFrame object. Each key in the dictionary becomes a column in the DataFrame, and each value becomes a row.