Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

Ans-

MongoDB is a popular NoSQL document-oriented database that stores data in JSON-like documents. Unlike traditional SQL databases, MongoDB does not use tables, rows, and columns to store data. Instead, it uses collections and documents.

MongoDB is preferred over SQL databases in scenarios where you need to handle large amounts of unstructured or semi-structured data. 

Scalability: MongoDB is designed to scale horizontally, meaning that you can add more servers to your cluster to handle increased data volumes or user traffic.

Flexibility: MongoDB's document-based data model allows you to store data in a way that is flexible and easy to change. This is particularly useful for applications that require frequent updates or changes to the data schema.

Speed: MongoDB's query language and indexing system are optimized for fast queries on large data sets. This makes it a good choice for real-time web applications that require low latency.

High availability: MongoDB provides built-in replication and automatic failover, making it a good choice for applications that require high availability.

Q2. State and Explain the features of MongoDB.

Ans-

Document-oriented data model: MongoDB stores data in documents, which are JSON-like data structures that contain key-value pairs. This makes it easy to work with semi-structured and unstructured data.

Dynamic schema: MongoDB does not enforce a fixed data schema, which means that you can add or remove fields from documents without affecting the rest of the data. This makes it easy to adapt to changing data requirements and iterate quickly.

Indexing and querying: MongoDB provides a powerful indexing and querying system that allows you to quickly search large amounts of data. It supports a rich query language that includes support for range queries, regular expressions, and geospatial queries.

Replication and high availability: MongoDB provides built-in replication and automatic failover to ensure high availability and data durability. You can set up replica sets that automatically elect a new primary node if the current primary fails, ensuring that your data is always available.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [7]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://iadeebazad:12345@cluster0.0jtftva.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [8]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
client = pymongo.MongoClient("mongodb+srv://iadeebazad:12345@cluster0.0jtftva.mongodb.net/?retryWrites=true&w=majority")
db=client['pwskills1']
collection_pw=db["record"]

In [15]:
 data1=[
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [24]:
data3={ "name": "xvz", "addr": "Apple 652" }

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [ ]:
collection_pw.insert_many(data1)

In [26]:
collection_pw.insert_one(data3)

In [27]:
for i in collection_pw.find():
    print (i)

{'_id': ObjectId('63f0e78473edf5ac3f343811'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f0e78473edf5ac3f343812'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f0e78473edf5ac3f343813'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f0e78473edf5ac3f343814'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f0e78473edf5ac3f343815'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f0e78473edf5ac3f343816'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f0e78473edf5ac3f343817'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f0e78473edf5ac3f343818'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f0e78473edf5ac3f343819'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f0e78473edf5ac3f34381a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f0e78473edf5ac3f34381b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f0e78473edf5ac3f34381c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f0e7bc73edf5ac3f34381d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f0e7bc73edf5ac3f34381e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f0e7bc73edf5ac3f34381f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f0e7bc73edf5ac3f343820'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f0e7bc73edf5ac3f343821'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f0e7bc73edf5ac3f343822'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f0e7bc73edf5ac3f343823'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f0e7bc73edf5ac3f343824'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f0e7bc73edf5ac3f343825'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f0e7bc73edf5ac3f343826'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f0e7bc73edf5ac3f343827'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f0e7bc73edf5ac3f343828'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f0e85f73edf5ac3f343829'), 'name': 'xvz', 'addr': 'Apple 652'}

In [28]:
collection_pw.find_one()

{'_id': ObjectId('63f0e78473edf5ac3f343811'),
 'name': 'Amy',
 'address': 'Apple st 652'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

Ans-

The find() method is used to query a MongoDB collection and returns a cursor to the matching documents. The find() method takes an optional query parameter that specifies the criteria to match documents in the collection

In [30]:
# client = MongoClient()
# db = client.my_database
# collection = db.my_collection
# cursor = collection.find()
# for document in cursor:
#     print(document)

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans-

sort() method would return a cursor to all documents in the collection, sorted by the name field in ascending order.

The sort() method takes a dictionary of one or more sort criteria, where the keys are the field names to sort on, and the values are either 1 for ascending order or -1 for descending order.

In [32]:
collection_pw.find().sort("name",1)

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans-

delete_one() is used to delete a single document that matches a specific criteria. It takes a filter object as a parameter, which is used to identify the document to be deleted. If there are multiple documents that match the filter

delete_many() is used to delete multiple documents that match a specific criteria. It takes a filter object as a parameter, which is used to identify the documents to be deleted.

drop() is used to delete an entire collection from a database. It takes no parameters and simply deletes the entire collection